@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transparent: #00000000;
  --background: #fcfcfc;
  --textBody: #757575;
  --buttonBorder: #0000001a;
  --buttonBackground: #ffffff60;
  --buttonHover: #0000000a;
  --accent: #000000;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fcfcfc;
    --textBody: #757575;
    --buttonBorder: #0000001a;
    --buttonBackground: #ffffff60;
    --buttonHover: #0000000a;
    --accent: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --textBody: #e4e4e4;
    --paragraphBody: #dadadad7;
    --buttonBorder: #ffffff1f;
    --buttonHover: #ffffff12;
    --buttonIcon: #ffffff50;
    --accent: #e1e1e1;
  }
}

/* Buttons */
.SocialMediaButton {
  @apply p-2;
  background-color: transparent;
  color: var(--buttonIcon);
  border: 2px solid var(--buttonBorder);
  border-radius: 0.8rem;
}

.SocialMediaButton:hover {
  background-color: var(--buttonHover);
}

/* Containers */
.BodyContainer {
  @apply my-8 flex flex-col items-center lg:my-0 lg:h-[90vh];
  background-color: var(--background);
}
.ContentContainer {
  @apply w-full justify-between space-y-12 px-[2vh] lg:flex lg:px-[10vh];
  margin: auto; /* center content container in the middle */
}

/* Text */
h1,
h2,
h3,
h4 {
  @apply font-mono;
  color: var(--textBody);
}
a {
  @apply font-mono;
  font-size: 20px;
  font-weight: 400;
}
p {
  @apply font-mono;
  color: var(--paragraphBody);
}

/* Navbar */
ul.navbar {
  @apply flex flex-col items-center justify-between gap-[32px] px-[10vh] py-[48px] lg:flex-row lg:px-[100px];
  background-color: var(--background);
  color: var(--textBody);
}
.PageTitleText {
  @apply font-sans;
  font-size: 64px;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
}

/* Project Cards */
.ProjectCard {
  @apply flex h-full w-full flex-col flex-wrap space-y-[20px] p-[20px];
}
.ProjectCard:hover {
  background-color: var(--buttonHover);
}
.ProjectBody {
  @apply flex flex-wrap font-medium leading-[152%];
  font-size: 15px;
  text-align: left;
}
.ProjectIcon {
  /* background-color: var(--buttonIcon); */
  height: 32px;
  width: 32px;
}
.ProjectTitle {
  @apply flex flex-row gap-[10px];
  font-size: 20px;
  font-weight: bold;
}

/* Social Media Buttons */
.SocialMediaButtons {
  @apply flex flex-row justify-center gap-[24px] lg:gap-[12px];
}

/* Border Bottom */
.BorderBottom {
  border-bottom-color: var(--buttonBorder);
  border-bottom-width: 2px;
}
