@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 235 0% 100%;
    --foreground: 235 0% 10%;
    --card: 235 0% 100%;
    --card-foreground: 235 0% 15%;
    --popover: 235 0% 100%;
    --popover-foreground: 235 95% 10%;
    --primary: 235 58.6% 82.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 235 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 197 10% 95%;
    --muted-foreground: 235 0% 40%;
    --accent: 235 58.6% 82.9%;
    --accent-foreground: 235 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 235 0% 100%;
    --border: 235 20% 82%;
    --input: 235 20% 50%;
    --ring: 235 58.6% 82.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 235 10% 10%;
    --foreground: 235 0% 100%;
    --card: 235 0% 10%;
    --card-foreground: 235 0% 100%;
    --popover: 235 10% 5%;
    --popover-foreground: 235 0% 100%;
    --primary: 235 58.6% 82.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 235 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 197 10% 25%;
    --muted-foreground: 235 0% 65%;
    --accent: 235 58.6% 82.9%;
    --accent-foreground: 235 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 235 0% 100%;
    --border: 235 20% 50%;
    --input: 235 20% 50%;
    --ring: 235 58.6% 82.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
