---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";

import { Image } from "astro:assets";
import image from "@assets/images/404.png";
---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <Header activeNav="" />

  <main id="main-content">
    <div class="not-found-wrapper">
      <h1 aria-label="404 Not Found">404</h1>
      <!-- <div class="img-container"> -->
      <Image
        class={"rounded-lg stroke-inherit	"}
        src={image}
        alt="test"
        width={400}
        height={401}
      />
      <!-- </div> -->
      <!-- <p>Page Not Found</p> -->

      <LinkButton
        href="/"
        className="underline decoration-dashed underline-offset-8 text-lg"
      >
        Home
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto flex max-w-3xl flex-1 items-center justify-center;
  }
  .not-found-wrapper {
    @apply flex flex-col items-center justify-center space-y-16 p-12;
  }
  .not-found-wrapper h1 {
    @apply text-8xl font-bold text-skin-accent;
  }
  .not-found-wrapper p {
    /* @apply ; */
  }
  /* .not-found-wrapper .img-container {
    @apply rounded-full;
  } */
</style>
