---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";

import GalleryShowcase from "@components/GalleryShowcase.astro";
---

<Layout title={`Photo Gallery | shmugo`}>
  <Header activeNav="gallery" />
  <Breadcrumbs />
  <main id="main-content">
    <section class="prose max-w-3xl prose-img:border-0">
      <GalleryShowcase width="50%" height="50%" />
      <!-- tailwindcss base won't let me forcefully change the aspect ratio, 
      so i guess i'll have to stick it to 9:16 -->
    </section>

    <Footer />
  </main>
</Layout>
