---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Home">
		<div class="flex flex-row items-center justify-center w-full h-max">
			<img src="/icon.png" class="w-[436px] h-[436px] object-contain prose" />
			<p class="text-2xl font-mono">Hi, I'm shmugo!</p>
		</div>
</Layout>