---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import ProjectDetails from "@components/ProjectDetails.astro";
---

<Layout title="Projects | shmugo">
  <Header activeNav="projects" />
  <main id="main-content">
    <Breadcrumbs />

    <section id="hero">
      <h1>Projects</h1>
    </section>

    <ProjectDetails />
  </main>
</Layout>

<Footer />

<style>
  /* ===== Hero Section ===== */
  #hero {
    /* @apply; */
  }
  #hero h1 {
    @apply text-2xl font-semibold sm:text-3xl;
  }

  /* ===== Projects Sections ===== */
  #projects {
    @apply pb-6;
  }
  #projects h2 {
    /* @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl; */
    @apply mb-2 mt-4 text-2xl font-bold tracking-wide;
  }
  #projects :global(p) {
    @apply mb-4 leading-relaxed;
  }
  #projects :global(hr) {
    /* @apply m-8; */
  }
</style>
