---
interface Props {
  name: string;
  href?: string;
}

const { name, href } = Astro.props;
---

<div
  class="inline-flex flex-col items-start gap-2.5 rounded-md border-2 bg-[#ebecfa] p-2"
>
  <button class="flex h-[2.25rem] w-[175px] items-center px-2 py-0">
    <a class="font-medium" href={href}>{name}</a>
  </button>
</div>
