---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<a class="ProjectCard gap-5 rounded-lg border p-5 shadow-lg" href={href}>
  <div class="ProjectTitle flex h-fit w-full justify-between">
    <h3 class="space-x-2.5">
      {title}
    </h3>

    <div class="IconContainer">
      <div class="PlaceholderIcon bg-[red]"></div>
      <div class="PlaceholderIcon bg-[blue]"></div>
    </div>
  </div>

  <div class="ProjectFooter flex h-full flex-col">
    <div
      class="ProjectImage h-full w-full rounded-t-lg border border-b-2 bg-[red]"
    >
    </div>
    <span
      class="ProjectDescription w-full rounded-b-lg border-b border-l border-r bg-[white] p-[8px]"
    >
      {body}
    </span>
  </div>
</a>

<style>
  .ProjectCard {
    height: 225px;
    width: 350px;
    background: #eceff4;
    display: flex;
    flex-direction: column;
  }
  .IconContainer {
    display: flex;
    gap: 10px;
  }
  .PlaceholderIcon {
    height: 32px;
    width: 32px;
  }
</style>
