---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<a class="ProjectCard BorderBottom" href={href}>
  <div class="ProjectTitle">
    <div class="ProjectIcon"></div>
    <h3>{title}</h3>
  </div>
  <div class="ProjectBody">
    <p>{body}</p>
  </div>
</a>
