---
export interface Props {
  width?: string;
  height?: string;
}

const { width = "1024", height = "728" } = Astro.props;
---

<!-- <div style=`width: ${width}px; height: ${height}px`> -->
<a
  data-flickr-embed="true"
  data-header="true"
  data-footer="true"
  href="https://www.flickr.com/photos/199839682@N06"
  title=""
  ><img
    src="https://live.staticflickr.com/65535/53443587239_8f31115b05_h.jpg"
    width={width}
    height={height}
    alt=""
  /></a
><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"
></script>
<!-- </div> -->
