---
import "@fontsource-variable/inter";
---

<ul class="navbar">
  <!-- <li></li> -->
  <li><a class="PageTitleText" href="/">shmugo</a></li>

  <!-- <li><a href="/">Home</a></li> -->
  <!-- <li><a href="/">Posts</a></li> -->
</ul>

<style>
  ul.navbar {
    @apply flex flex-row items-center gap-[32px] self-stretch px-[100px] py-[48px] text-white;
  }

  /* Text */
  .PageTitleText {
    @apply font-sans;

    font-size: 72px;
    font-weight: 900;
    text-align: center;
    line-height: 1.5;
  }

  a {
    @apply font-mono;

    font-size: 20px;
    font-weight: 400;
  }
</style>
