---
import "@fontsource-variable/inter";
import LanguageDropDown from "./LanguageDropDown.astro";
---

<ul class="navbar w-full">
  <!-- <li></li> -->
  <div class="justify-start">
    <li><a class="PageTitleText" href="/">shmugo</a></li>
  </div>

  <LanguageDropDown />

  <!-- <li><a href="/">Home</a></li> -->
  <!-- <li><a href="/">Posts</a></li> -->
</ul>
