---
import Button from "./Button.astro";
---

<div
  class="flex h-full w-[200px] flex-col items-center justify-center space-y-8"
>
  <div class="top">
    <div class="flex w-full items-center justify-center p-2">
      <h2 class="text-3xl font-medium underline">shmugo</h2>
    </div>

    <div class="flex flex-col space-y-5">
      <Button name="Home" href="/" />
      <Button name="Projects" href="/projects" />
      <Button name="Contact" href="/contact" />
    </div>
  </div>

  <div class="footer flex w-full justify-center gap-4">
    <span
      class="flex max-h-[64px] min-h-[64px] min-w-[64px] max-w-[64px] items-center justify-center bg-[black] text-white"
      >Ko-Fi</span
    >

    <span
      class="flex max-h-[64px] min-h-[64px] min-w-[64px] max-w-[64px] items-center justify-center bg-[black] text-white"
      >Theme</span
    >
  </div>
</div>
