---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map(project => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title="Projects">
  <main>
    <h1>{project.data.title}</h1>
    <h3>{project.data.description}</h3>
    <Content />

    <a href={project.data.href}>GitHub</a>
    <a href={project.data.href}>Visit</a>
  </main>
</Layout>
