---
import { getCollection } from "astro:content";

import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";

const ProjectMarkdowns = await getCollection("projects");
---

<Layout title="Projects">
  <main>
    <h1>Projects | Portfolio</h1>

    {
      ProjectMarkdowns.map(project => (
        <Card
          title={project.data.title}
          body={project.data.description}
          href={`/projects/${project.slug}`}
        />
      ))
    }
  </main>
</Layout>
