<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">    
    <link rel="stylesheet" href="tweaks.css" type="text/css"/>
    <title>shmugo</title>
</head>
<body>
    <header>
        <h1>shmugo</h1>
        <nav>
            <!-- navbar header settings -->
            <a href="./">Home</a> |
            <a href="./projects.html">Projects</a> |
            <a href="http://blog.basedtakes.co/">Blog</a>
        </nav>
    </header>
    <div>
        <%- output %>
    </div>
</body>
</html>