---
import NavBar from "../components/NavBar.astro";

const { frontmatter } = Astro.props;
---

<main class="bg-red flex min-h-screen items-center justify-center">
  <div
    class="container flex h-[700px] w-[1120px] flex-row justify-between gap-4 rounded-3xl border-[6px] bg-white px-8 py-12 shadow-2xl"
  >
    <!-- Content -->
    <div
      class="flex w-full flex-wrap items-center gap-2.5 self-stretch rounded-md px-2 py-4"
    >
      <slot />
    </div>

    <!-- Border -->
    <div class="border"></div>

    <!-- NavBar -->
    <NavBar />
  </div>
</main>
