---

---

<main class="bg-red flex min-h-screen items-center justify-center">
  <div
    class="container flex h-[700px] w-[1120px] flex-row justify-between gap-4 rounded-3xl border-[6px] bg-white px-8 py-12 shadow-2xl"
  >
    <div
      class="flex w-full flex-wrap gap-2.5 self-stretch rounded-md bg-[red] px-2 py-4"
    >
      <!-- <p>test</p> -->
      <slot />
    </div>

    <div class="border"></div>

    <div class="flex h-full w-[200px] items-center justify-center bg-[blue]">
      <p>navbar</p>
    </div>
  </div>
</main>
